@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Quicksand:wght@300..700&display=swap");

:root {
  --primary-clr1: #3cb2e0c7;
  --primary-clr2: #237d8bc7;
  --primary-clr3: #0c6b91b5;
  --secondary-clr1: #34ced6;
  --secondary-clr2: #1c8078;
  --grey-shade1: #6c7a89;
  --grey-shade2: #ececec;
  --main-black: #000000;
  --black-shade: #1d2125;
  --main-white: #ffffff;
  --off-white: #bfc5cc;
  --line-height: 1.2;
  --transition: all 0.5s linear;
  --letter-spacing: 1rem;
  --font-size: 1.2rem;
  --font-weight: bold;
  --font-family: "quicksand", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
}
/* html {
  scroll-behavior: smooth;
} */
body {
  overflow-x: hidden;
  font-family: "montserrat", sans-serif;
  background-color: white;
}

img {
  height: auto;
  width: 100%;
  object-fit: cover;
  display: block;
}

button,
a {
  cursor: pointer;
}

button a {
  color: white;
}

/* =========animation========== */
@keyframes breath {
  from {
    font-size: 2.5rem;
  }
  to {
    font-size: 2.8rem;
  }
}
@keyframes slideIn {
  from {
    height: 5rem;
  }
  to {
    height: 5.2rem;
  }
}

@keyframes slideLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
/* /////////////////////////////////////////////////////////////////////
                              HEADER
/////////////////////////////////////////////////////////////////////// */

.header {
  display: flex;
  justify-content: space-between;
  color: #ff0000e5;
  align-items: center;
  font-size: 2rem;
  font-family: "montserat";
  font-weight: 600;
  height: 4rem;
  padding-inline: 2rem;
  position: sticky;
  z-index: 4;
  top: 0;
  background-color: white;
  gap: 2rem;
}
.header a span:first-child {
  font-size: 2rem;
  font-weight: 600;
  color: #03123b;
}
.header a {
  color: #ff0000e5;
}

.navbar {
  display: flex;
  margin-right: 10rem;
  width: 80%;
  align-items: center;
  justify-content: space-evenly;
}

.navbar a {
  color: #03123b;
  font-size: 15px;
  font-family: var(--font-family);
  font-weight: 600;
  transition: all 0.3s linear;
}

.navbar li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6rem;
  text-transform: capitalize;
  cursor: pointer;
}

.navbar a:hover {
  color: red;
  text-decoration: underline;
}

.header button {
  font-size: 30px;
  color: #03123b;
  background-color: transparent;
  cursor: pointer;
  display: block;
}

.open-nav {
  height: 30rem;
}
nav {
  height: 0rem;
  background-color: white;
  position: fixed;
  width: 100vw;
  display: flex;
  font-weight: 600;
  list-style: none;
  font-size: 17px;
  font-family: "quicksand", sans-serif;
  letter-spacing: 2px;
  text-transform: capitalize;
  transition: all 0.5s linear;
  overflow: hidden;
  z-index: 4;
}

nav ul {
  margin-top: 2rem;
  width: 100%;
}
nav li {
  list-style: none;
  height: 3rem;
  padding-left: 2rem;
  /* border: 2px solid red; */
  display: flex;
  transition: all 0.3s linear;
}

nav a {
  color: #03123b;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
nav li:hover {
  background-color: #34ced6;
  padding-left: 2.5rem;
}

.inner {
  height: 0rem;
  overflow: hidden;
  transition: all 0.3s linear;
}
.inner a {
  height: 3rem;
  font-size: 15px;
  padding-left: 2rem;
  padding-top: 0.5rem;
  background-color: #03123b;
  color: white;
  transition: all 0.3s linear;
}
.inner a:hover {
  background-color: red;
  padding-left: 2.5rem;
}

.drop-inner {
  height: 9rem;
}

.fa-angle-down {
  color: red;
}

@media screen and (max-width: 920px) {
  .navbar {
    display: none;
  }
}

@media screen and (min-width: 920px) {
  .header button {
    display: none;
  }
  .header a span:first-child {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    gap: 5rem;
  }
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////END OF HEADER////////////////////////////// */

/* ////////////////////////////////////////////////////////////////////////////////////////////////////START OF HERO/////////////////////////////// */

.hero {
  background-image: linear-gradient(
      to bottom,
      rgba(246, 249, 249, 0.45),
      rgba(0, 0, 0, 0.58)
    ),
    url("../img/william-william-NndKt2kF1L4-unsplash-3-scaled.jpg");
  height: calc(100vh - 4rem);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
}

.hero-center {
  max-width: 90vw;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: "quicksand", sans-serif;
  color: #03123b;
  /* border: #03123b solid 2px; */
  margin-left: 2rem;
}
.hero-center p:first-child {
  font-size: 35px;
  font-weight: 700;
  font-family: "monserat", sans-serif;
  text-transform: capitalize;
  color: red;
}

.btn {
  width: 10rem;
  height: 3rem;
  border-radius: 5px;
  background-color: #03123b;
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 600;
}

.btn a {
  color: white;
}

@media screen and (min-width: 768px) {
  .hero-center {
    max-width: 70%;
    font-size: 1.5rem;
    font-weight: 600;
  }
  .hero-center p:first-child {
    font-size: 2.5rem;
    font-weight: 700;
  }
}
@media screen and (min-width: 920px) {
  .hero-center {
    max-width: 70%;
    font-size: 1.5rem;
    font-weight: 600;
  }
  .hero-center p:first-child {
    font-size: 2.5rem;
    font-weight: 700;
  }
}

@media screen and (min-width: 920px) {
  .hero-center {
    max-width: 70%;
    font-size: 1.5rem;
    font-weight: 600;
  }
  .hero-center p:first-child {
    font-size: 2.5rem;
    font-weight: 700;
  }
}

/* ?\///////////////////////////////////////////////////////////////////////////
                            INDEX SECTION CSS
///////////////////////////////////////////////////////////////////////////// */

.section {
  margin: 0 2rem;
}

.heading {
  max-width: 50rem;
  text-align: center;
  margin: 2rem auto 2rem auto;
  color: #03123b;
  text-transform: capitalize;
  font-family: var(--font-family);
}

.card {
  /* width: 50%; */
  height: 15rem;
  color: #03123b;
  text-align: center;
  border: 1px solid grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-family: "quicksand", sans-serif;
  box-shadow: 0 4px 6px 4px rgb(90, 88, 88);
  text-transform: capitalize;
  margin: 0 auto;
}
.holder {
  max-width: 90vh;
  margin: 0 auto;
}
.font {
  font-size: 5rem;
}

.card h3 {
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: red;
}

@media screen and (min-width: 920px) {
  .holder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 90vw;
  }
  .card {
    margin-bottom: 1rem;
    width: 25rem;
    font-size: 1.5rem;
    height: 25rem;
  }

  .header {
    font-size: 3rem;
  }
  .header span:first-child {
    font-size: 3rem;
  }
}
@media screen and (min-width: 1080px) {
  .card {
    margin-bottom: 2rem;
    width: 30rem;
    font-size: 1.5rem;
    height: 25rem;
  }
  .holder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 100vw;
  }
}
@media screen and (min-width: 1200px) {
  .card {
    margin-bottom: 2rem;
    width: 30rem;
    font-size: 1.5rem;
    height: 25rem;
  }
  .holder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 80vw;
  }
}

/* //////////////////////////////////////////////////////////////////////////
                 END OF NORMAL CARDS
//////////////////////////////////////////////////////////////////////////////////////// */

/* //////////////////////////////////////////////////////////////////////////
                   START OF  PICTURED CARDS
/////////////////////////////////////////////////////////////////////////////////// */
.img {
  margin: 4rem auto 0 auto;
  background-image: url(../img/workers-at-the-container-port-0001.jpeg);
  height: 25rem;

  background-position: center;
  background-size: cover;
  transition: all 0.8s ease-in;
  margin-bottom: 2rem;
}
.slideup {
  opacity: 0;
  transform: translateY(50%);
}
.slideup.visible {
  opacity: 1;
  transform: translateY(0);
}

.text {
  color: #03123b;
  font-family: "quicksand", sans-serif;
  box-shadow: 0 2px 8px 0px rgb(90, 88, 88);
  text-transform: capitalize;
  border-radius: 5px;
}
.text div {
  padding-left: 1rem;
}

.text p:nth-child(3) {
  color: red;
  font-weight: 500;
  font-size: 20px;
}
.text :nth-child(5) {
  font-weight: 500;
}

.list {
  background-color: #5b5f6465;
  padding-top: 1rem;
  text-transform: capitalize;
  color: #03123b;
  font-weight: 600;
  font-family: "quicksand", sans-serif;
  margin-bottom: 1rem;
  margin-top: 2rem;
}
.fonts {
  color: red;
  font-size: 1rem;
  margin-top: 2rem;
  border-radius: 3px;
}

.btn-div {
  background-color: white;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-btn {
  height: 3rem;
  width: 90%;
  border-radius: 5px;
  background-color: red;
}

.list-btn a {
  color: white;
  font-size: 15px;
  font-weight: 600;
  font-family: var(--font-family);
  text-transform: capitalize;
}
.pic-holder {
  margin-top: 4rem;
}
.pic-holder2 {
  margin-top: 4rem;
}
.img-1 {
  margin: 4rem auto 0 auto;
  background-image: url(../img/woman-signs-for-package-0002.jpeg);
  background-color: #000000;
  height: 25rem;
  background-size: cover;
  background-position-x: 5rem;
  transition: all 0.8s ease-in;
  margin-bottom: 2rem;
}

.heading-2 {
  margin-top: 8rem;
  font-family: "quicksand", sans-serif;
}
.heading-2 p {
  font-weight: 500;
}
.update-card {
  margin-top: 3rem;
  box-shadow: 0 2px 2px 2px rgb(90, 88, 88);
  border-radius: 5px;
  height: auto;
  letter-spacing: 1px;
}

.update {
  padding-top: 2rem;
  padding-left: 1rem;

  /* box-shadow: 0 4px 6px 4px rgb(90, 88, 88); */
}

.update h3 {
  text-transform: capitalize;
  color: red;
}
.update p {
  font-weight: 550;
  letter-spacing: 1px;
  font-size: 0.9rem;
  color: #03123b;
  /* font-family: var(--font-family); */
}

@media screen and (min-width: 920px) {
  .pic-holder {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .img {
    width: 40rem;
    height: 30rem;
    margin-top: 0;
    margin-bottom: 0;
    order: 2;
  }
  .img-1 {
    width: 40rem;
    height: 30rem;
    margin-bottom: 0;
    margin-top: 0;
    background-position-x: -4em;
  }

  .heading {
    font-size: 1.5rem;
  }
  .update-holder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .update-card {
    height: 35rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
  }
}
/* //////////////////////////////////////////////////////////////////////////
                                 END OF INDEX SECTION CSS
/////////////////////////////////////////////////////////////////////////////////// */

/* //////////////////////////////////////////////////////////////////////////
                          START OF MERCHANT SEC
////////////////////////////////////////////////////////////////////////////
///////// */

.first-sec {
  background-color: beige;
  padding-inline: 2rem;
  padding-top: 2rem;
  height: 60rem;
  font-family: var(--font-family);
  margin: 0 auto;
}
.first-sec p {
  color: #03123b;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
}

.first-sec-img {
  background-image: url(../img/garden.png);
  height: 25rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.first-sec button {
  background-color: red;
  width: 20rem;
  height: 3rem;
  border-radius: 5px;
  color: white;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 15px;
  margin: 0 auto;
}

.btn-center {
  text-align: center;
  margin-top: 2rem;
}

.sec-sec {
  background-color: white;

  height: 65rem;
  margin-top: 4rem;
}
.sec-sec-img {
  background-image: url(../img/Illustrate03-DcJ_mpTj.png);
  background-size: cover;
  border-radius: 10px;
  background-repeat: no-repeat;
}
.third-sec {
  margin-top: 3rem;
  background-color: #909daa3a;
  height: 70rem;
}

.third-sec-img {
  background-image: url(../img/Illustrate04-B-Wnj6bk.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.fourth-sec {
  margin-top: 4rem;
  height: 70rem;
  background-color: white;
}
.fourth-sec-img {
  background-image: url(../img/Illustrate05-r1gvYgjV.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.fifth-sec-img {
  background-image: url(../img/Illustrate06-B3u54nCU.png);
  height: 35rem;
  background-size: cover;

  background-repeat: no-repeat;
  border-radius: 3rem;
  margin-bottom: 5rem;
}
.fifth-sec {
  background-color: white;
  padding-inline: 2reem;

  height: 75rem;
}
.last-sec-note {
  background-color: #d0d8da9d;
  border-radius: 3rem;
  height: 35rem;
  padding-top: 2rem;
  padding-inline: 1rem;
  background-image: linear-gradient(
      rgba(227, 224, 224, 0.84),
      rgba(18, 17, 17, 0.336)
    ),
    url(../img/logistics-company-in-Mexico-1024x461-1024x585.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.envelope-div {
  width: 100%;
  text-align: center;
}
.fa-envelope {
  color: #03123b;
  font-size: 10rem;
}

.envelope {
  height: 40rem;
  margin-top: 6rem;
}

.slideleft {
  opacity: 0;
  transform: translateX(50%);
  transition: all 1s ease-in;
}

.show {
  opacity: 1;
  transform: translateX(0);
}

.slideright {
  opacity: 0;
  transform: translateX(-50%);
  transition: all 1s ease-in;
}

.show {
  opacity: 1;
  transform: translateX(0);
}
@media screen and (min-width: 768px) {
  .first-sec {
    display: flex;
    flex-grow: auto;
    gap: 2rem;
    height: 35rem;
    justify-content: center;
  }
  .first-sec-img {
    height: 30rem;
    width: 30rem;
    background-position-x: right;
  }
  .sec-note {
    grid-column: 1;
    min-width: 0;
    overflow-wrap: break-word;
    height: 30rem;
    width: 30rem;
  }
  .third-sec-img {
    order: 2;
  }
  .fifth-sec {
    display: flex;
    align-items: center;
    height: 50rem;
    justify-content: center;
  }
  .fifth-sec-img {
    height: 35rem;
    width: 50rem;
    background-position: center;
    margin-bottom: 0;
    order: 2;
  }
  .fifth-sec-note {
    height: 30rem;
    width: 30rem;
  }
  .envelope-div {
    height: 100%;
    width: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .fa-envelope {
    font-size: 20rem;
  }
}
@media screen and (min-width: 1080px) {
  .first-sec-img {
    width: 40rem;
    background-position-x: right;
  }
  .sec-note {
    grid-column: 1;
    min-width: 0;
    overflow-wrap: break-word;
    height: 30rem;
    width: 40rem;
  }
}

/* //////////////////////////////////////////////////////////////////////////
                          END OF MERCHANT SEC
////////////////////////////////////////////////////////////////////////////
///////// */

/* //////////////////////////////////////////////////////////////////////////
                          START OF VENDOR SEC
////////////////////////////////////////////////////////////////////////////
///////// */

.vendor-pl-img-1 {
  background-image: url(../img/Illustrate02-B3bKFSMV.png);
}
.vendor-pl-img-2 {
  background-image: url(../img/Illustrate03-BgdTA7xy.png);
}
.vendor-pl-img-3 {
  background-image: url(../img/Illustrate04-CiFWMInC.png);
}
.vendor-pl-img-4 {
  background-image: url(../img/Illustrate05-Bm0I1Vik.png);
}
.vendor-pl-img-5 {
  background-image: url(../img/Illustrate06-DjKpws2Z.png);
}
/* //////////////////////////////////////////////////////////////////////////
                          END OF VENDOR SEC
////////////////////////////////////////////////////////////////////////////
///////// */

/* //////////////////////////////////////////////////////////////////////////
                          START OF INDIVIDUAL SEC
////////////////////////////////////////////////////////////////////////////
///////// */
.indi-img-1 {
  background-image: url(../img/Illustrate01-MDGUo5Ff.png);
}
.indi-img-2 {
  background-image: url(../img/Illustrate02-BVRAgWtT.png);
}
.indi-img-3 {
  background-image: url(../img/Illustrate03-CKN7dGOp.png);
}
.indi-img-4 {
  background-image: url(../img/core-lady-laptop-outside.jpeg);
}
.indi-img-5 {
  background-image: url(../img/core-trade-atlas-cover.jpeg);
  background-position: center;
}

/* //////////////////////////////////////////////////////////////////////////
                          END OF VENDOR SEC
////////////////////////////////////////////////////////////////////////////
///////// */

/* //////////////////////////////////////////////////////////////////////////
                          START OF ABOUT SEC
////////////////////////////////////////////////////////////////////////////
///////// */

.about-hero {
  background-image: url(../img/pexels-photo-6169027.jpeg);
  height: 30rem;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
}
.about-section {
  background-color: #34ced6;
}
.about-holder {
  margin: 0 2rem 5rem 2rem;
}
.about-section h4 {
  color: red;
  font-size: larger;
}
.about-section p {
  color: #03123b;
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1.5px;
  line-height: 2;
}
.about-img {
  background-image: url(../img/pexels-photo-6169668.jpeg);
  height: 25rem;
  background-position: center;
  background-size: cover;
  margin-top: 2rem;
}

.about-count {
  background-color: white;
  margin: 0 2rem 0 2rem;
}
.counts {
  height: 8rem;
  border-bottom: 2px solid #03123b;
  padding-left: 2rem;
  gap: 1rem;
  color: #03123b;
  text-transform: capitalize;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 3rem;
}
.counts h2 {
  font-size: 25px;
  font-weight: 700;
}
.years {
  display: flex;
  align-items: center;
  height: 8rem;
  border-bottom: 2px solid #03123b;
  padding-left: 2rem;
  gap: 1rem;
  color: #03123b;
  text-transform: capitalize;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 3rem;
}
.years h2 {
  font-size: 25px;
  font-weight: 700;
}

.counts p {
  margin-top: 1rem;
  font-size: 20px;
  font-weight: 700;
}
.about-img-2 {
  height: 25rem;
  background-image: url(../img/Pick-up-and-delivery-services-image-800x445.jpeg);
  background-size: cover;
  margin-top: 2rem;
}

.sub-heading {
  color: #03123b;
  font-family: var(--font-family);
  font-weight: 700;
  color: red;
}
.about-last {
  background-color: white;
  padding-top: 3rem;
}
@media screen and (min-width: 768px) {
  .about-holder {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  .about-text {
    width: 30rem;
  }
  .about-text-2 {
    width: 30rem;

    order: 2;
  }
  .about-img {
    width: 30rem;
  }
  .about-img-2 {
    width: 30rem;
    height: 30rem;
  }
  .about-count {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .counts {
    border-right: #03123b solid 2px;
    border-bottom: none;
    height: 50%;
  }
  .years {
    border-right: #03123b solid 2px;
    border-bottom: none;
    gap: 2rem;
  }
}
@media screen and (min-width: 1080px) {
  .about-text {
    width: 40rem;
    font-size: 2rem;
  }
  .about-img {
    width: 40rem;
  }
  .about-img-2 {
    width: 40rem;
  }
}

/* ///////////////////////////////////////////////////////////////
                             END OF ABOUT SEC
////////////////////////////////////////////////////////////////////// */

/* ///////////////////////////////////////////////////////////////
                        START OF CONTACT SEC
///////////////////////////////////////////////////////////////////////// */

.contact-sec {
  padding-inline: 2rem;
  background-color: #9caaaf60;
  padding: 2rem;
}

.contact p {
  color: #03123b;
  font-family: var(--font-family);
  line-height: 1.5;
  letter-spacing: 2px;
  font-weight: 600;
  text-transform: capitalize;
}
.under-contact {
  display: flex;
  gap: 1rem;
  align-items: center;
}
#form {
  border: 1px solid rgb(89, 92, 89);
  background-color: white;
  text-align: center;
  padding: 1rem;
  border-radius: 10px;
}

form input {
  border: 1px solid black;
  height: 3rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  width: 100%;
}
::placeholder {
  color: #03123b;
  text-transform: capitalize;
  padding-left: 1rem;
  font-family: var(--font-family);
  font-weight: 500;
}

.name {
  width: 49%;
}

textarea {
  border: 1px solid black;
  margin-bottom: 1rem;
  border-radius: 5px;
  width: 100%;
}

#form-btn {
  background-color: red;
  width: 20rem;
  height: 3.5rem;
  border-radius: 5px;
  color: white;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 1.2rem;
}

.phone {
  width: 100%;
  text-align: center;
}
.fa-phone {
  color: #03123b;
  font-size: 6rem;
  margin-top: 3rem;
}
.contact-address {
  margin-top: 5rem;
}
.address {
  border-bottom: #03123b solid 2px;
  text-align: center;
  text-transform: uppercase;
  height: 6rem;
  color: #03123b;
  margin: 0 2rem 0 2rem;
}
.address-sec {
  background-color: #0dc7d181;
  height: 40rem;
}
.phone {
  width: 100%;
  text-align: center;
}
.fa-phone {
  color: #03123b;
  font-size: 6rem;
  margin-top: 3rem;
}
.contact-address {
  margin-top: 5rem;
}
.address {
  border-bottom: #03123b solid 2px;
  text-align: center;
  text-transform: uppercase;
  height: 6rem;
  color: #03123b;
  margin: 0 2rem 0 2rem;
}

@media screen and (min-width: 920px) {
  .contact-sec {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  .contact {
    width: 40rem;
  }
  .contact h1 {
    font-size: 3rem;
  }
  .address-sec {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .fa-phone {
    font-size: 15rem;
  }
  .phone {
    width: 30rem;
  }
}
/* /////////////////////////////////////////////////////////////////////////
                     END OF CONTACT SECTION
////////////////////////////////////////////////////////////////////////// */

/* /////////////////////////////////////////////////////////////////////////
                     START OF TRACKING SECTION
/////////////////////////////////////////////////////////////////////////// */

.track {
  max-width: 70vw;
  margin: 0 auto;
  font-family: var(--font-family);
  font-weight: 700;
}

.tracking-sec {
  background-color: #34ced65b;
  /* height: 90vh; */
  text-align: center;
  padding-top: 2rem;
  color: #03123b;
  text-transform: capitalize;
}

.tracking-sec input {
  margin-top: 3rem;
  height: 3rem;
  width: 60%;
  margin-bottom: 1rem;
  border-radius: 5px;
}
.tracking-sec button {
  width: 60%;
  height: 2.5rem;
  border-radius: 5px;
  background-color: red;
  color: white;
  font-family: var(--font-family);
  font-weight: 600;
  text-transform: capitalize;
}

#parcel-data {
  background-color: white;
  max-width: 80vw;
  margin: 0 auto;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 17px;
  letter-spacing: 1px;
  margin-bottom: 5rem;
  text-align: start;
  padding-left: 1rem;
}
#parcel-data span {
  color: red;
}

@media screen and (min-width: 920px) {
  .tracking-sec {
    display: flex;
    padding-inline: 2rem;
    gap: 2rem;
    align-items: center;
    justify-content: center;
  }
  #mapid {
    width: 45rem;
    height: 30rem;
    margin-top: 0;
    /* border: 2px solid red; */
  }
  #parcel-data {
    margin-bottom: 0;
  }
}

/* ////////////////////////////////////////////////////////////////////////////////////////// END OF TRACKING SECTION////////////////////////// */

/* /////////////////////////////////////////////////////////////////////////////////////// /////PACKAGE REGISTRATION//////////////////////////// */

.login-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: blueviolet;
  display: none;
}
input {
  border: solid black 2px;
  height: 3rem;
  width: 20rem;
}
button {
  height: 3rem;
  width: 3rem;
  background-color: red;
  color: white;
}
.parcelform {
  background-color: aqua;
  display: none;
  align-items: center;
  justify-content: center;
}
#form-btn {
  text-align: center;
  width: 100%;
}

.update-form {
  background-color: #34ced6;
  /* display: none; */
}

.delete-form {
  background-color: #34ced6;
  display: none;
  height: 100vh;
}
.delete-form input {
  width: 20rem;
}
/* //////////////////////////////////////////////////////////////////////////
                                 FOOTER CSS
/////////////////////////////////////////////////////////////////////////////////// */

/* /////////////////footer////////////////// */

.footer-center {
  background: #03123b;
  color: white;
  margin-top: 3rem;
  padding: 4rem 1rem;
  font-family: "quicksand", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.5;
  position: relative;
}
.belief span {
  font-size: 3rem;
  color: red;
}
.belief {
  color: #9caaaf;
}
.socials {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  max-width: 10rem;
  align-items: center;
}
.socials a:hover {
  color: red;
}
.socials a {
  color: white;
  font-size: 20px;
}
.links {
  margin-top: 3rem;
  font-family: "quicksand", sans-serif;
}

.links a {
  color: #9caaaf;
}
.links a:hover {
  color: red;
}
.foot-contact {
  margin-top: 3rem;
}
.foots {
  color: red;
  font-size: 20px;
}
.foot-contact a {
  color: #9caaaf;
}
.foot-contact a:hover {
  color: red;
}
footer button {
  background: transparent;
  height: 2rem;
}
.angle-up {
  font-size: 30px;
  position: absolute;
  bottom: 2rem;
  color: white;
  background: red;
  right: 2rem;
  width: 2rem;
  text-align: center;
  cursor: pointer;
}
.main-footer {
  width: 100vw;
  height: 6rem;
  background: #03123b;
  border: solid #03123b 0.5px;
}
.main-footer-left {
  width: 60vw;
  margin: 1rem auto;
  text-align: center;
  color: white;
  font-weight: 500;
  font-size: 15px;
  font-family: "quicksand", sans-serif;
}
.main-footer-right {
  width: 60vw;
  margin: 1rem auto;
  text-align: right;
  text-align: center;
  color: red;
  font-weight: 500;
  font-size: 15px;
  font-family: "quicksand", sans-serif;
}
@media screen and (min-width: 768px) {
  .footer-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-inline: 2rem;
  }
  .links {
    border-left: rgba(156, 170, 175, 0.5) 2px dotted;
    margin-left: 2rem;
    text-align: center;
  }
  .main-footer {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
  }
  .main-footer-right {
    text-align: right;
  }
  .main-footer-left {
    text-align: left;
  }
}
@media screen and (min-width: 920px) {
  .footer-center {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-inline: 2rem;
  }
  .foot-contact {
    text-align: center;
    border-left: rgba(156, 170, 175, 0.5) dotted 2px;
  }
}
