/* .servicepage-page {
  padding-inline: 6rem;
} */

.head {
  /* border: #03123b 2px solid; */
  background: #03123b22;
  backdrop-filter: blur(10px);
  height: 5rem;
  position: relative;
}
.head a {
  color: #03123b;
}

.nav-bar {
  margin-top: 20px;
  top: 0;
}

.back {
  margin-top: 2rem;
  color: black;
}

.dom-service {
  margin-bottom: 2rem;
}

.service-page {
  padding-left: 1rem;
  padding-right: 1rem;
}
.servicepage-img {
  background-image: url("../img/domestic.jpg");
  height: 25rem;
  width: 23rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  background-size: cover;
  border-radius: 0.5rem;
}
.service-pr {
  font-family: "quicksand", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #03123b;
  line-height: 1.5;
  letter-spacing: 1.5px;
}
.btn {
  width: 8rem;
  height: 3rem;
  background: #ff5f2a;
  color: white;
  cursor: pointer;
  margin-top: 1rem;

  /* border-radius: 0.6rem; */
  /* transform: skewx(-20deg); */
  font-size: 1rem;
  font-weight: 700;
  margin-left: 0rem;
}
.btn span {
  /* transform: skewX(20deg); */
  display: inline-block;
  text-transform: capitalize;
}
.btn:hover {
  background: #03123b;
  transition: all 0.4s linear;
}

/* ////////////////// about/////////////////////////////////
//////////////////////////////////////////////////////////// */

.aboutpage-img {
  background-image: url("/img/about-us.c199eec2.svg");
  height: 25rem;
  width: 23rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  background-size: cover;
  border-radius: 0.5rem;
}
.footer-center {
  margin-top: 1rem;
}

/* /////////////////// contact//////////////////////////////
///////////////////////////////////////////////////////////// */

.contact-hero {
  background-image: linear-gradient(
      to right,
      rgba(240, 76, 31, 0.436),
      rgba(31, 131, 218, 0.452)
    ),
    url("/img/logistics-company-in-Mexico-1024x461-1024x585.png");
  height: 80vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
}

.contact-hero div {
  align-self: center;

  color: #03123bd2;
  font-family: "quicksand", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  text-transform: capitalize;
}

.contact-hero div h6 {
  text-transform: uppercase;
}

.contact {
  margin-inline: 1rem;
}

.form {
  background: #03123b;
  color: #ff5f2a;
  text-transform: capitalize;
  padding-top: 1rem;
  font-size: 17px;
  font-weight: 700;
  font-family: "quicksand", sans-serif;
  margin: 0 auto;
  padding-inline: 2rem;
  padding-bottom: 1rem;
}
::placeholder {
  text-transform: capitalize;
}
input {
  padding-left: 1rem;
}
input:focus {
  outline: none;
}
textarea:focus {
  outline: none;
}
.text {
  width: 100%;
  border-radius: 5px;
  margin-top: 10px;
  padding-left: 1rem;
}
.field {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 2rem;
  border-radius: 5px;
}
.contacts {
  background: #ff5f2a;
  color: #03123b;
  margin-top: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-inline: 1rem;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
}
.contacts p {
  color: #03123bd2;
}
.lines {
  border-bottom: solid 1px #03123b;
}

/* ///////////////media queries///////////////// */

@media screen and (min-width: 768px) {
  .page-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
  }
  .servicepage-img {
    width: 40rem;
  }
}
@media screen and (min-width: 920px) {
  .dom-service {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .servicepage-img {
    width: 28rem;
    margin-right: 5rem;
  }
  .head {
    position: sticky;
    top: -1.5rem;
    width: 100%;
  }
  .page-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .contact-hero div {
    align-self: center;

    font-size: 3rem;
  }
  .contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
  }
  .contacts {
    height: 26rem;
    margin-top: 11rem;
    padding-top: 4rem;
  }
}
